<!doctype html>
<html lang="en">
    <head>
		<!-- meta -->
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, intial-scale=1" >
        <meta name="description" content="Online Grocery Store" >
		<!-- title --> 
        <title>{{ mainTitle }} Online Grocery Store</title>
		<!-- stylesheets -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/public/css/alerts.css">		
        <link rel="stylesheet" href="/public/css/main/header.css">		
        <link rel="stylesheet" href="/public/css/main.css">		
		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>

		<!-- header starts from here -->
		<header>
			<div class="col-md-12">
				<div class="row">
					<div class="container">

						<!-- header navigation bar starts from here -->
						<nav class="navbar-static-top">

							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-default navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle Navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="/">Grocery Store</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="/product/category/dairy">Dairy Products</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/product/category/frozen">Frozen Foods</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/product/category/bakery">Bakery Products</a></li>
									</ul>
									</li>
								</ul>
							
								<form class="navbar-form navbar-left" action="/product/search" method="get">
									<div class="form-group" id="form-search">
										<input type="text" id="searchbar" class="form-control" name="keyword" placeholder="Search">
									</div>
									<button type="submit" class="btn btn-default">Submit</button>
								</form>
								<label for="searchbar"></label>

								<ul class="nav navbar-nav navbar-right">
									{{#if user}}
										<li>
											<a href="/user/dashboard/cart" class="cart-items-number">
												<span id="cart-size">{{#if user.cartLen}}<span class="cart">{{ user.cartLen }}</span> {{/if}}</span>
												<i class="fa fa-shopping-cart" aria-hidden="true"></i>
												Cart
											</a>
										</li>

										<li class="dropdown">
											<a href="/user/dashboard" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
												Welcome <span id="user-identity">{{user.alias}}!</span>
													<span class="caret"></span>
											</a>
											<ul class="dropdown-menu">
												<li><a href="/user/dashboard/account"><i class="fa fa-cog" aria-hidden="true"></i>Account</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="/user/dashboard/payments"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Payment</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="/user/dashboard/wallet"><i class="fa fa-google-wallet" aria-hidden="true"></i>Wallet</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="/user/dashboard/order-history"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Order History</a></li>
												<li role="separator" class="divider"></li>
												<li><a href="/support/subscription/status"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Newsletters</a></li>
												<li role="separator" class="divider"></li>
												<li><a onclick="javascript: logout()" href="#"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
											</ul>
										</li>
									{{else}}
										<li><a href="/user/login"><i class="fa fa-sign-in" aria-hidden="true"></i>SignIn</a></li>
										<li><a href="/user/new"><i class="fa fa-user-circle-o" aria-hidden="true"></i>SignUp</a></li>
									{{/if}}
								</ul>
							</div><!-- /.navbar-collapse -->
						</nav>
						<!-- header navigation bar end here -->

					</div>
				</div>
			</div>
		</header>
		<!-- header ends here -->
		
		<!-- main body starts from here -->
		<main>
			<!-- wrapper class starts from here -->
			<div class="container">
                {{{ body }}}
            </div>
			<!-- wrapper class ends here -->
		</main>
		<!-- main body ends here -->

		<!--footer start from here-->
		<link rel="stylesheet" href="/public/css/main/footer.css">	
		<footer>
			<div class="container">		
				<div class="row">
					
					<!-- about us starts from here -->
					<div class="col-md-3">
						<div class="row"><h3>About Project</h3></div>
						<div class="row">
							<p>Online Grocery Store is an eCommerce based web application for our Web Programming project. We had developed a sample in which user can search and find necessary information about any grocery item, can proceed to checkout to buy products.
								User can create an account, update personal information, can check its past activities, orders and transactions, and cart items.
							<p><i class="fa fa-map-pin"></i>Stevens Institute of Technology, NJ</p>
						</div>
						
					</div>
					<!-- about us ends here -->
					
					<!-- contact us form starts from here -->
					<script src="/public/js/support/contact-form-validation.js"></script>
					<div class="col-md-3 col-md-offset-1">
						<div class="row"><h3>Contact Us</h3></div>
						
						<div class="row">
							<form id="form-contact-us">
								<div class="row">

									<div class="col-md-12 inp-row-margin">
										<div class="row">
											<input type="text" name="name" id="contact-name" class="form-control" placeholder="Full Name" />
										</div>
									</div>

									<div class="col-md-12 inp-row-margin">
										<div class="row">
											<input type="text" name="email" id="contact-email" class="form-control" placeholder="Email Id" />
										</div>
									</div>

									<div class="col-md-12 inp-row-margin">
										<div class="row">
											<input type="text" name="mobile" id="contact-mobile" class="form-control" placeholder="Contact Number" maxlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
										</div>
									</div>

									<div class="col-md-12 inp-row-margin">
										<div class="row">
											<textarea name="description" class="form-control" id="contact-description" placeholder="Description"></textarea>
										</div>
									</div>

									<div class="col-md-12 inp-row-margin">
										<div class="row">
											<div class="col-md-3" style="padding-left: 0;">
												<input type="button" id="btn-send" class="btn btn-default btn-full" value="Send" />
											</div>

											<!-- alert notification -->
											<div class="col-md-9" style="padding-left: 0;">
												<div id="error-contact" class="alert error hidden">
														<i class="fa fa-close error"></i>
														<strong id="error-contact-message"></strong>
												</div>
												<div id="success-contact" class="alert success hidden">
														<i class="fa fa-check success"></i>
														<strong>Message sent.</strong>
												</div>
											</div>
										</div>
									</div>

								</div>
							</form>
						</div>
					</div>

					<label for="contact-name"></label>
					<label for="contact-email"></label>
					<label for="contact-mobile"></label>
					<label for="contact-description"></label>
					<!-- contact us form ends here -->

					<!-- follow-us and subscription links starts from here -->
					<div class="col-md-3 col-md-offset-1">
						<div class="row"><h3>Follow Us</h3></div>
						<div class="row">
							<div data-href="https://github.com/ParasGarg/Online-Grocery-Store" data-tabs="repository" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
								<blockquote cite="https://github.com/ParasGarg/Online-Grocery-Store">
									<i class="fa fa-github"></i>
									<a href="https://github.com/ParasGarg/Online-Grocery-Store" target="_blank">GitHub</a>
								</blockquote>
							</div>
						</div>

						<br/>
						<script src="/public/js/support/subscription-form-validation.js"></script>
						<div class="row"><h3>Subscribe</h3></div>
						<div class="row">
							<form method="post" id="form-subscribe">
								<input type="text" name="email" id="subscribe-email" class="form-control" placeholder="Emai Id" />
								<input type="button" id="btn-subscribe" class="btn btn-default" value="Subscribe" />

								<!-- alert notification -->
								<div class="row inp-row-margin">
									<div class="col-md-12">
										<div id="error-subscribe" class="alert error hidden">
										<i class="fa fa-close error"></i>
										<strong id="error-subscribe-message"></strong>
										</div>
										<div id="success-subscribe" class="alert success hidden">
										<i class="fa fa-check success"></i>
										<strong>You have successfully subscribed for our notifications.</strong>
										</div>
									</div>
								</div>

							</form>
						</div>
					</div>
					<label for="subscribe-email"></label>					
					<!-- follow-us and subscription links ends here -->	

				</div>		
			</div>
		</footer>
		<!--footer start from here-->
		
		<script>
			function logout() {
				document.getElementById("form-logout").submit();
			}
		</script>
		<form method="post" action="/user/logout" id="form-logout"></form>
		
    </body>
</html>