<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/payment/payment-gateway.css">
<!-- script -->
<script src="/public/js/payment/gatway-checkout.js"></script>

<!-- body -->
<div class="gateway">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">

				<article>
					<h1>Pay and you're done!</h1>

					<!-- payment mode detail starts from here -->
					<div class="row">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs">
							<li role="presentation" class="active">
								<a href="#saved-card" aria-controls="saved-card" role="tab" data-toggle="tab">
									<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
									Saved Cards
								</a>
							</li>
							<li role="presentation">
								<a href="#new-card" aria-controls="new-card" role="tab" data-toggle="tab">
									<i class="fa fa-credit-card" aria-hidden="true"></i>
									New Card
								</a>
							</li>
							<li role="presentation">
								<a href="#wallet" aria-controls="wallet" role="tab" data-toggle="tab">
									<i class="fa fa-google-wallet" aria-hidden="true"></i>
									Wallet
								</a>
							</li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<!-- saved card tab -->
							<div role="tabpanel" class="tab-pane desc-div active" id="saved-card">							
								<div class="row">
									{{#if user.card}}

									<div class="col-md-12">
										<div class="row">
											<div class="col-md-1"><strong></strong></div>
											<div class="col-md-4"><strong>Card Number</strong></div>
											<div class="col-md-4"><strong>Name on Card</strong></div>
											<div class="col-md-1"><strong>Expiry</strong></div>
											<div class="col-md-2"><strong>Card Type</strong></div>
										</div>

										<form id="form-saved-card" method="post" action="/payment/gateway/saved" >
											{{#each user.card}}
											<div class="row">
												<div class="col-md-1" style="text-align:center;">
													<input type="radio" name="savedCard" value="{{_id}}">
												</div>
												<div class="col-md-4">{{_id}}</div>
												<div class="col-md-4">{{name}}</div>
												<div class="col-md-1">{{expiry}}</div>
												<div class="col-md-2">{{type}}</div>
											</div>
											{{/each}}

											<input type="text" class="form-control hidden" name="amount" value="{{net}}"/>
											<div class="row">
												<div class="col-md-6 col-md-offset-3">
													<input type="button" id="btn-saved-card" class="btn btn-default" value="Pay">
												</div>
											</div>
										</form>
									</div>

									{{else}}
									<div>
										No saved cards
									</div>

									{{/if}}
								</div>
							</div>

							<!-- new card tab -->
							<div role="tabpanel" class="tab-pane desc-div" id="new-card">
								<form id="form-new-card" method="post" action="/payment/gateway/new"  >
									<!-- alert notification -->
									<div class="row">
										<div class="col-md-12">
											<div id="error-new-card" class="alert alert-danger hidden">
												<i class="fa fa-close error" id="btn-error-close" onclick="close()"></i>
												<strong id="error-new-card-message"></strong> 
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-3">
											<div class="row"><label for="new-card-name">Name on Card</label></div>
											<div class="row"><label for="new-card-number">Card Number</label></div>
											<div class="row"><label for="new-card-type">Card Type</label></div>
											<div class="row"><label for="new-card-month">Card Expiry</label></div>
											<div class="row"><label for="new-card-cvv">Card CVV</label></div>
										</div>
										<div class="col-md-6">
											<div class="row">
												<input id="new-card-name" type="text" class="form-control" name="cardName" placeholder="Card Holder Name">
											</div>
											<div class="row">
												<input id="new-card-number" type="text" class="form-control" name="cardNumber" placeholder="Card Number" maxlength="16" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
											</div>
											<div class="row">
												<select class="btn btn-default" name="cardType" id="new-card-type">
													<option selected disabled>Card Type</option>
													<option value="Credit Card">Credit Card</option>
													<option value="Debit Card">Debit Card</option>
												</select>
											</div>
											<div class="row">
												<input id="new-card-month" type="number" class="form-control" name="expMonth" placeholder="Month" min="1" max="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
												<input id="new-card-year" type="number" class="form-control" name="expYear" placeholder="Year" min="2017" max="2051" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
											</div>
											<div class="row">
												<input id="new-card-cvv" type="password" class="form-control" name="cardCVV" placeholder="CVV" maxlength="4">
											</div>
										</div>
									</div>

									<input type="text" class="form-control hidden" name="amount" value="{{net}}"/>
									<div class="row">
										<div class="col-md-6 col-md-offset-1">
											<input id="btn-new-card" type="button" class="btn btn-default" value="Pay">
										</div>
									</div>
								</form>
							</div>

							<div role="tabpanel" class="tab-pane desc-div" id="wallet">
								<div class="row">

									<div class="col-md-12">
										<div class="row">
											<!--div class="col-md-6">
												<div class="row">
													<div class="col-md-1" style="text-align:center;"><input type="checkbox" value=""></div>
													<div class="col-md-10" style="text-align:center;">
														<i class="fa fa-money" aria-hidden="true"></i>
														Cash
													</div>
												</div>
											</div -->
											<div class="col-md-12">
												<div class="row" style="text-align: center;">
													{{#if isWallet}}
													<div class="col-md-12">
														<p class="msg">
															Wallet Balance 
															<i class="fa fa-dollar" aria-hidden="true"></i>{{user.wallet}}
														</p>

														<form method="post" action="/payment/gateway/wallet" enctype="" >
															<input type="text" class="form-control hidden" name="amount" value="{{net}}"/>
															<div class="row">
																<div class="col-md-6 col-md-offset-3">
																	<input id="btn-wallet" type="submit" class="btn btn-default" value="Pay">
																</div>
															</div>
														</form>
													</div>
													{{else}}
													<div class="col-md-12">
														<p class="msg">
															You do not have enough amount in your wallet.<br/>
															Wallet amount <i class="fa fa-dollar"></i>{{user.wallet}}
														</p>
														<div class="row">
															<div class="col-md-6 col-md-offset-3">
																<input type="button" class="btn btn-default" value="Add cash to Wallet" onclick="addCash()">
															</div>
														</div>
													</div>
													{{/if}}
												</div>
											</div>
										</div>
									</div>
								</div>								
							</div>
						</div>
					</div>
					<!-- payment mode detail ends here -->					

					<!-- promo code section starts from here -->
					<!-- br/><br/>
					<div class="row">
						<form class="form" name="promo-code-form" id="promo-code-form">
							<div class="row">
								<input type="text" class="form-control" name="expMonth" placeholder="Promo Code">
								<input type="submit" class="btn btn-default" value="Apply Promo">												
							</div>
							<div class="row success">
								Your promo code is successfully applied
							</div>
							<div class="row error">
								Your promo code is invalid
							</div>
						</form>
					</div -->
					<!-- promo code section end here -->

					<!-- payment summary starts from here -->					
					<br/>
					<div class="row">
						<div class="col-md-8 col-md-offset-2" id="payment-summary">
							<div class="panel panel-default">
								<div class="panel-heading" id="profile-head">
									<a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="profile-panel">
										<h2 class="panel-title">
											Payment Summary
										</h2>
									</a>
								</div>

								<div id="profile-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="profile-head">
									<div class="panel-body">
										<div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Price</label></div>
											<div class="col-md-4 col-md-offset-1">
												<i class="fa fa-dollar"></i>
												{{total}}
											</div>
										</div>

										<!-- div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Promo Discount</label></div>
											<div class="col-md-4 col-md-offset-1">$ 10</div>
										</div -->

										<div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Taxes (@7%)</label></div>
											<div class="col-md-4 col-md-offset-1">
												<i class="fa fa-dollar"></i>
												{{tax}}
											</div>
										</div>

										<div class="row">
											<div class="col-md-6 col-md-offset-1"><label>Total Price</label></div>
											<div class="col-md-4 col-md-offset-1">
												<i class="fa fa-dollar"></i>
												{{net}}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- div class="col-md-4" id="payment-now">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<input type="button" class="btn btn-default" value="Pay" />
								</div>
							</div>
						</div -->

					</div>
					<!-- payment summary ends here -->					
					
				</article>

			</div>
		</div>
	</div>
</div>