<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/product/index.css">
<!-- script --
<script src="/public/js/user/gui/account-setting.js"></script -->

<article>

	<h1>Welcome to Online Grocery Store</h1>

	<div>
	{{#each products}}
		<div class="panel panel-default item">
			<div class="panel-heading" role="tab" id="profile-head">
				<a role="button" href="/product/id/{{_id}}"  data-parent="#accordion" aria-expanded="true" aria-controls="profile-panel">
					<h2 class="panel-title">
						{{title}}
					</h2>
				</a>
			</div>

			<div id="profile-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="profile-head">
				<div class="panel-body">
					<div class="col-md-12">
						<div class="row">
							<img src="{{images.[0]}}" alt="{{title}}" />
						</div>

						<div class="row detail">
							<div class="col-md-4 price">
								<i class="fa fa-dollar"></i>
								{{price}}
							</div>
							<div class="col-md-4">
								<form method="post" action="/user/update/cart/{{_id}}/home" enctype='application/json'>
									<input type="submit" class="btn btn-default" value="Add to Cart" />
								</form>
							</div>
							<div class="col-md-4">
								<form method="post" action="/user/update/cart/{{_id}}" enctype='application/json'>
									<input type="button" class="btn btn-default" value="Buy Now" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{/each}}
	</div>

</article>