<h1> welcome to category search results </h1>

{{#each product}}
	<img src="{{images.[0]}}" height="100" width="120" /><br>
	{{_id}}<br>
	{{title}}<br>
	{{description}}<br>
	{{price}}

	<br/><br/>
{{/each}}