<!-- stylesheet -->
<link rel="stylesheet" href="/public/css/user-gui/user-dashboard.css">
<!-- script -->
<script src="/public/js/user/gui/wallet-settings.js"></script>

<!-- wallet dashboard starts from here -->
<article class="dashboard wallet">
	<h1>Wallet Information</h1>
		
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		<!-- left panel section starts from here -->
		<div class="col-md-4">
			<!-- wallet details section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="wallet-info">
					<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="wallet-info-panel">
						<h2 class="panel-title">
							Available Cash 
						</h2>
					</a>
				</div>
				<div id="wallet-info-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="wallet-info">
					<div class="panel-body">

						<div class="col-md-12">
							<div class="row">

								<!-- user wallet starts from here -->					
								<div>
									<!-- wallet amount section -->
									<div class="row">
										<div class="col-md-8 col-md-offset-2">
											<p id="wallet-amount">
												<i class="fa fa-dollar"></i>
												{{user.wallet}}
											</p>
										</div>
									</div>
								
								</div>
								<!-- user wallet form ends here -->
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- wallet details sections ends here -->

			<!-- add amount section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="wallet-add-amount">
					<a role="button" data-parent="#accordion" aria-expanded="true" aria-controls="wallet-add-amount-panel">
						<h2 class="panel-title">
							Add Cash
						</h2>
					</a>
				</div>
				<div id="wallet-add-amount-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="wallet-add-amount">
					<div class="panel-body">

						<div class="col-md-12">
							<div class="row">

								<!-- add amount detail form starts from here -->
								<form id="form-user-wallet" method="post" action="/user/dashboard/wallet" >
								
									<!-- alert notification -->
									<div class="row">
										<div class="col-md-12">
											<div id="error-wallet" class="alert alert-danger hidden">
												<i class="fa fa-close error" id="btn-error-close" onclick="close()"></i>
												<strong id="error-wallet-message"></strong> 
											</div>
											<div id="success-wallet" class="alert alert-success hidden">
												<i class="fa fa-check success"></i>
												<strong>Amount has been added successfully</strong> 
											</div>
										</div>
									</div>

									<!-- amount section -->
									<div class="row">
										<div class="col-md-5">
											<label for="amount">Enter Amount</label>
										</div>
										<div class="col-md-7">
											<i class="fa fa-dollar add-amount"></i>
											<input type="text" class="form-control add-amount" name="amount" id="amount" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" placeholder="Enter amount to add"/>
										</div>
									</div>

									<!-- card select section -->
									<div class="row">
										<div class="col-md-5">
											<label for="pay-card">Select Card</label>
										</div>
										<div class="col-md-7">
											<select class="btn btn-default" name="payCard" id="pay-card">
												<option selected disabled>Select card to pay</option>
											
											{{#if user.card}}
													{{#each user.card}}
														<option value="{{_id}}">{{_id}}</option>
													{{/each}}
											{{/if}}
												<option value="redirect">Save new card</option>

											</select>
										</div>
									</div>

									<!-- amount submit form section -->
									<input type="button" id="btn-user-quick-add" class="btn btn-default" onclick="updateWallet()" value="Use Saved Card" />
									<input type="button" id="btn-user-add" class="btn btn-default" onclick="addCash()" value="Use New Card" />
								
								</form>
								<!-- add amount detail form ends here -->

							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- add amount detail sections ends here -->
		</div>
		<!-- left panel section ends here -->
		
		<!-- right panel section starts from here -->
		<div class="col-md-8">
			<!-- wallet transactions section starts frome here -->
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="wallet-transaction">
					<a role="button"  data-parent="#accordion" aria-expanded="true" aria-controls="wallet-transaction-panel">
						<h2 class="panel-title">
							Wallet Transactions
						</h2>
					</a>
				</div>
				<div id="wallet-transaction-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="wallet-transaction">
					<div class="panel-body">

						{{#if transactions}}
							<div class="row">
								<!-- order id -->
								<div class="col-md-3">
									Transaction Id
								</div>

								<!--price -->
								<div class="col-md-2">
									Amount
								</div>

								<div class="col-md-2">
									Paid By
								</div>

								<!-- Date -->
								<div class="col-md-2">
									Date
								</div>

								<!-- description -->
								<div class="col-md-3">
									Description
								</div>
							</div>

							{{#each transactions}}
								{{#if isCredited}}
									<div class="row positive">
										<div class="col-md-3">
											{{_id}}
										</div>

										<div class="col-md-2">
											<i class="fa fa-dollar"></i>
											{{amount}}
										</div>

										<div class="col-md-2">
											{{cardDetails.number}}
										</div>

										<div class="col-md-2">
											{{date}}
										</div>

										<div class="col-md-3">
											{{remark}}
										</div>
									</div>
								{{else}}
									<div class="row negative">
										<div class="col-md-3">
											{{_id}}
										</div>

										<div class="col-md-2">
											<i class="fa fa-dollar"></i>
											{{amount}}
										</div>

										<div class="col-md-2">
											Wallet Cash
										</div>

										<div class="col-md-2">
											{{date}}
										</div>

										<div class="col-md-3">
											{{remark}}
										</div>
									</div>
								{{/if}}
							{{/each}}
			
						<p class="msg banner">(Showing recent 10 activities)</p>
						{{else}}
							<div class="row">
								<p class="msg">No wallet transactions</p>
							</div>
						{{/if}}

					</div>
				</div>
			</div>
			<!-- wallet transactions sections ends here -->
		</div>
		<!-- right panel section ends here -->

	</div>	
</article>
<!-- wallet dashboard ends here -->